body {
    background-color:beige;
}

.container {
    margin : auto;
    max-width: 600px;
}

.todoBlock{
    padding : 30px;
    margin-top: 40px;
    background-color:bisque;
    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0/12%);
}

.cancelBox{
    background-color:rgb(224, 180, 144);
    color:#fff;
    border : none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
